# OS & editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.code-workspace

# Python & virtual environments
__pycache__/
*.py[cod]
.Python
env/
venv/
.venv/
.env
.env.*
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Logs & runtime data
*.log
logs/
loki-data/

# 7 Days to Die dedicated server files
server/7d2d/*
!server/7d2d/Saves
!server/7d2d/Saves/**
!server/7d2d/Mods/
!server/7d2d/Mods/**
!server/7d2d/serverconfig_example.xml
