global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: loki
    static_configs:
      - targets:
          - loki:3100

  - job_name: promtail
    static_configs:
      - targets:
          - promtail:9080
